# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
/.vs/*
2. Bootstrap y Tailwind/VUE-framework/Primer-proyecto-con-vite/.vscode/extensions.json
2. Bootstrap y Tailwind/VUE-framework/Primer-proyecto-con-vite/.vscode/extensions.json
